<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人中心</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/user/nprogress.css">
    <link rel="stylesheet" type="text/css" href="css/user/style.css">
    <link rel="stylesheet" type="text/css" href="css/user/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="img/user/logo.png">
    <link rel="shortcut icon" href="img/user/logo.ico">
    <script src="js/user/jquery-2.1.4.min.js"></script>
    <script src="js/user/nprogress.js"></script>
    <script src="js/user/jquery.lazyload.min.js"></script>
    <!--[if gte IE 9]>
    <script src="js/user/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="js/user/html5shiv.min.js" type="text/javascript"></script>
    <script src="js/user/respond.min.js" type="text/javascript"></script>
    <script src="js/user/selectivizr-min.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body class="user-select">
<header class="header">
    <nav class="navbar navbar-default" id="navbar">
        <div class="container">
            <div class="header-topbar hidden-xs link-border" id="head">
                <ul class="site-nav topmenu">
                    <li><a href="register" rel="nofollow"><i class="glyphicon glyphicon-user"></i>注册</a></li>
                    <li><a href="login" title="登录">
                        <i class="glyphicon glyphicon-log-in">
                        </i> 登录
                    </a></li>
                </ul>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse" data-toggle="collapse"
                        data-target="#header-navbar" aria-expanded="false"><span class="sr-only"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <h1 class="logo hvr-bounce-in"><a href="index" title="专利资讯网"><img src="img/user/logo.png"
                                                                                  style="height: 50px" alt="专利资讯网"></a>
                </h1>
            </div>
            <div class="collapse navbar-collapse" id="header-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="index">首页</a></li>
                    <li><a href="patent">专利相关</a></li>
                    <li><a href="news">行业资讯</a></li>
                    <li><a href="about">关于我们</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div personInfo="" class="container view">
    <div personInfo="" class="left_box">
        <ul personInfo="" class="aside">
            <li personInfo="" class="router-link-exact-active router-link-active">
                <a personInfo="" href="personInfo" class="zl">个人资料</a></li>
            <li personInfo="" class="">
                <a personInfo="" href="user_addPatent" class="zl">上传专利</a></li>
            <li personInfo="" class="">
                <a personInfo="" href="user_changePassword" class="zl">修改密码</a></li>
        </ul>
        <ul personInfo="" class="aside">
            <li personInfo="" class="">
                <a personInfo="" href="#" class="zl">其他功能开发中....</a></li>
        </ul>
    </div>
    <div personInfo="" class="view-container">
        <div personDetails="" personInfo="" class="cont view">
            <div personDetails="" class="right_cont">
                <h3 personDetails="" class="title">个人资料</h3>
                <div personDetails="" class="user_info">
                    <div personDetails="" class="header">
                        <a data-toggle='modal' data-target='#editUserImg'>
                            <img personDetails="" th:src="'/patent'+${userInfo.avatar}" alt="" class="head">
                            <p personDetails="" class="modify">修改头像</p>
                        </a>
                    </div>
                    <div personDetails="" class="right_c">
                        <div personDetails="" class="right_info">
                            <ul personDetails="" class="self" id="details" style="display:block;">
                                <li personDetails="" class="comon" th:text="${'用户名：'+userInfo.username}"></li>
                                <div personDetails="" class="line"></div>
                                <div personDetails="" class="nick">
                                    <span personDetails="" th:text="${'姓名：'+userInfo.realname}"></span>
                                    <span personDetails="" class="mod"><a href="javascript:changeInfo()">修改资料</a></span>
                                </div>
                                <li personDetails="" class="comon"
                                    th:text="${'生日：'+ #dates.format(userInfo.birth, 'yyyy-MM-dd')}"></li>
                                <li personDetails="" class="comon" th:if="${userInfo.sex} eq '0'">性别：女</li>
                                <li personDetails="" class="comon" th:if="${userInfo.sex} eq '1'">性别：男</li>
                                <li personDetails="" class="comon" th:text="${'所在地：'+ userInfo.location}"></li>
                                <li personDetails="" class="comon" th:text="${'电话号码：'+userInfo.phoneNum}"></li>
                                <li personDetails="" class="comon" th:text="${'电子邮箱：'+userInfo.email}"></li>
                                <li personDetails="" class="comon"
                                    th:text="${'上次登录时间：'+ #dates.format(userInfo.loginTime, 'yyyy-MM-dd HH:mm:ss')}"></li>
                            </ul>
                            <div personDetails="" class="self" id="submit_details" style="display: none;">
                                <form action="changeInfo" method="post">
                                    <div>
                                        <label style="width: 110px">用户名：&nbsp;</label>
                                        <input type="text" class="signup-form"
                                               th:value="${userInfo.username}"
                                               disabled/>
                                        <input id="username" name="username" th:value="${userInfo.username}" hidden/>
                                    </div>
                                    <div personDetails="" class="line"></div>
                                    <div>
                                        <label style="width: 110px">姓名：&nbsp;</label>
                                        <input type="text" name="realname" class="signup-form"
                                               th:value="${userInfo.realname}"/>
                                    </div>
                                    <div>
                                        <label style="width: 110px">生日：&nbsp;</label>
                                        <input type="date" name="birthChange" class="signup-form"
                                               th:value="${#dates.format(userInfo.birth, 'yyyy-MM-dd')}">
                                    </div>
                                    <br>
                                    <div>
                                        <label style="width: 110px">性别：&nbsp;</label>
                                        <label>
                                            <input type="radio" name="sex"
                                                   th:checked="${userInfo.sex == 1} ? true : false"
                                                   value="1">男
                                        </label>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label>
                                            <input type="radio" name="sex"
                                                   th:checked="${userInfo.sex == 0} ? true : false"
                                                   value="0">女
                                        </label>
                                    </div>
                                    <div>
                                        <label style="width: 110px">所在地：&nbsp;</label>
                                        <input name="location" class="signup-form"
                                               th:value="${userInfo.location}"/>
                                    </div>
                                    <div>
                                        <label style="width: 110px">电话号码：&nbsp;</label>
                                        <input name="phoneNum" class="signup-form"
                                               th:value="${userInfo.phoneNum}"/>
                                    </div>
                                    <div>
                                        <label style="width: 110px">电子邮箱：&nbsp;</label>
                                        <input name="email" class="signup-form" th:value="${userInfo.email}"/>
                                    </div>
                                    <br>
                                    <div align="center">
                                        <button class="btn btn-primary">确定</button>
                                        <a href="personInfo">
                                            <button class="btn btn-secondary">取消</button>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 头像修改界面-->
<div id="editUserImg" tabindex="-1" role="dialog" aria-labelledby="editUserImgLabel"
     aria-hidden="true"
     class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="editUserImgLabel" class="modal-title">修改用户头像</h4>
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <form action="updateAvatar" method="post"
                  enctype="multipart/form-data">
                <div class="modal-body">
                    <h5 class="header-other">修改用户信息</h5>
                    <input id="user_id" name="user_id" type="hidden" th:value="${userInfo.id}"/>
                    <div class="form-group row">
                        <!-- 这里有空最好改下图片比例 -->
                        <div class="col-md-6" style="text-align: center">
                            原头像
                            <img id="BeforeImg" class="img-circle shadow"
                                 width="100%" th:src="'/patent'+${userInfo.avatar}"/>
                        </div>
                        <div class="col-md-6" style="text-align: center">
                            请选择新头像
                            <label for="file"> <img id="nowImg"
                                                    class="img-circle shadow"
                                                    width="100%"
                                                    src="avatarPic/img_avatar.png"/>
                            </label>
                            <input type="file" name="file" id="file" multiple="multiple"
                                   class="custom-file-input" hidden/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">修改
                    </button>
                    <button type="button" data-dismiss="modal"
                            class="btn btn-secondary">取消
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="footerForLogin">
    <div class="container">
        <p>Copyright &copy; 2020. All Rights Reserved。版权所有 <a href="#">汤镇源</a>
        </p>
        <p>地址：山西省太原市中北大学</p>
    </div>
    <div id="gotop"><a class="gotop"></a></div>
</footer>
<script src="js/user/bootstrap.min.js"></script>
<script src="js/user/jquery.ias.js"></script>
<script src="js/user/scripts.js"></script>
<script src="js/user/jquery.cookie.js"></script>
<script src="js/user/js.cookie.min.js"></script>
<script src="js/user/loginCheck.js"></script>
<script src="js/user/personInfo.js"></script>
</body>
</html>