<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>专利资讯网</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/user/nprogress.css">
    <link rel="stylesheet" type="text/css" href="css/user/style.css">
    <link rel="stylesheet" type="text/css" href="css/user/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="img/user/logo.png">
    <link rel="shortcut icon" href="img/user/logo.ico">

    <!-- newAdd -->
    <link rel="stylesheet" href="css/user/iconfont.css">

    <script src="js/user/jquery-2.1.4.min.js"></script>
    <script src="js/user/nprogress.js"></script>
    <script src="js/user/jquery.lazyload.min.js"></script>
    <!--[if gte IE 9]>
    <script src="js/user/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="js/user/html5shiv.min.js" type="text/javascript"></script>
    <script src="js/user/respond.min.js" type="text/javascript"></script>
    <script src="js/user/selectivizr-min.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body class="user-select">
<header class="header">
    <nav class="navbar navbar-default" id="navbar">
        <div class="container">
            <div class="header-topbar hidden-xs link-border" id="head">
                <ul class="site-nav topmenu">
                    <li><a href="register" rel="nofollow"><i class="glyphicon glyphicon-user"></i>注册</a></li>
                    <li><a href="login" title="登录">
                        <i class="glyphicon glyphicon-log-in">
                        </i> 登录
                    </a></li>
                </ul>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#header-navbar" aria-expanded="false"><span class="sr-only"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <h1 class="logo hvr-bounce-in"><a href="index" title="专利资讯网"><img src="img/user/logo.png"
                                                                                  style="height: 50px" alt="专利资讯网"></a>
                </h1>
            </div>
            <div class="collapse navbar-collapse" id="header-navbar">
                <form class="navbar-form visible-xs" action="/Search" method="post">
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20"
                               autocomplete="off">
                        <span class="input-group-btn">
		                        <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
		                    </span>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="index">首页</a></li>
                    <li><a href="patent">专利相关</a></li>
                    <li><a href="news">行业资讯</a></li>
                    <li><a href="about">关于我们</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section class="container">
    <div class="login-box">
        <div class="box-con tran">
            <div class="login-con f-l">
                <p th:text="'请输入'+${#strings.substring(phoneNum,0,2)}+'****'+${#strings.substring(phoneNum,7,11)}+'手机号码'"></p>
                <form action="changePassword" method="post">
                    <div class="signup-form form-group">
                        <input type="text" placeholder="手机" id="phoneNum" name="phoneNum">
                        <a href="javascript:checkPhone()" id="verifyButton">短信验证</a>
                    </div>
                    <span id="errorMsg" class="error-notic"></span>
                    <div class="form-group">
                        <input type="text" placeholder="验证码" id="verifyCode" name="verifyCode">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="密码" id="password" name="password">
                    </div>
                    <input th:value="${username}" id="username" name="username" hidden/>
                    <div class="form-group">
                        <span class="error-notic" th:if="${msg}!=null" th:text="${msg}"></span>
                        <button type="submit" class="tran pr">
                            <a class="tran">重置</a>
                            <!--                        <img class="loading" src="img/user/loading1.gif" style="display:none">-->
                        </button>
                    </div>
                </form>
                <div class="from-line"></div>
                <div class="form-group">
                    <a href="register" class="move-signup a-tag tran blue-border">前去注册<i
                            class="iconfont tran">&#xe606;</i></a>
                </div>
                <div class="form-group">
                    <a href="login" class="move-reset a-tag tran">返回登录 <i
                            class="iconfont tran">&#xe606;</i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footerForLogin">
    <div class="container">
        <p>Copyright &copy; 2020. All Rights Reserved。版权所有 <a href="#">汤镇源</a>
        </p>
        <p>地址：山西省太原市中北大学</p>
    </div>
</footer>
</body>
<script src="js/user/bootstrap.min.js"></script>
<script src="js/user/jquery.ias.js"></script>
<script src="js/user/scripts.js"></script>
<script src="js/user/jquery.cookie.js"></script>
<script src="js/user/js.cookie.min.js"></script>
<script src="js/user/loginCheck.js"></script>
<script th:inline="javascript">
    function checkPhone() {
        if ($("#phoneNum").val() == "") {
            $("#errorMsg").text("不能为空！");
            return;
        }
        if ([[${phoneNum}]] == $("#phoneNum").val()) {
            $.ajax({
                type: "POST",
                url: "resetPassword",
                dataType: "json",
                data: {
                    phoneNum: $("#phoneNum").val()
                },
                success: function (data) {
                    if (data) {
                        $("#verifyButton").text("发送成功");
                        $("#verifyButton").setAttribute("href","");
                    } else {
                        $("#verifyButton").text("发送失败");
                    }
                }
            });
        } else {
            $("#errorMsg").text("手机号码不一致");
        }
    }
</script>
</html>