.grid-container {
    display: grid;
    grid-template-columns: 1.1fr 1fr 0.9fr 1fr;
    grid-template-rows: 0.4fr 0.3fr 1.9fr 1.4fr 3.3fr 2.7fr 0.8fr;
    gap: 1px 1px;
    grid-template-areas: "header header header header" "menus menus menus menus" "banner banner banner banner" "count search search search" "type patent patent patent" ". . . ." ". . . .";
}

.header { grid-area: header; }

.menus { grid-area: menus; }

.banner { grid-area: banner; }

.count { grid-area: count; }

.search { grid-area: search; }

.type { grid-area: type; }

.patent { grid-area: patent; }