<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tang.patent.dao.NewsMapper">
    <resultMap id="BaseResultMap" type="com.tang.patent.entity.bean.News">
        <id column="pkId" property="pkId" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="details" property="details" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="DATE"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    pkId, title, author, details, updateTime,img
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from news
        where pkId = #{pkId,jdbcType=INTEGER}
    </select>
    <!-- 新增-->
    <select id="countNews" resultType="java.lang.Integer">
    select count(*)
    from news
  </select>
<!--   countRecentNews暂未做测试 -->
    <select id="countRecentNews" resultType="java.util.HashMap">
        SELECT updateTime, count(*) as total FROM news where  DATE_SUB(CURDATE(), INTERVAL 6 DAY) &lt;= updateTime GROUP BY updateTime ORDER BY updateTime ASC
    </select>
    <!-- 新增-->

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from news
    where pkId = #{pkId}
  </delete>
    <insert id="insertSelective" parameterType="com.tang.patent.entity.bean.News">
        insert into news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkId != null">
                pkId,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="details != null">
                details,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="img != null">
                img,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkId != null">
                #{pkId},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="details != null">
                #{details,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="img != null">
                img,
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tang.patent.entity.bean.News">
        update news
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="details != null">
                details = #{details,jdbcType=VARCHAR},
            </if>
            <if test="uptime != null">
                updateTime = #{updateTime},
            </if>
            <if test="img != null">
                img = #{img,jdbcType=VARCHAR},
            </if>
        </set>
        where pkId = #{pkId}
    </update>

    <select id="getNewsByPage" resultType="com.tang.vos.news.NewsVo" parameterType="java.lang.Integer">
        select pkId,title,author,details,updateTime
        from news
        limit #{page,jdbcType=INTEGER},10
    </select>
</mapper>