<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tang.patent.dao.SmsLogMapper">
    <insert id="insertMessageLog" parameterType="com.tang.patent.entity.bean.SmsLog">
        insert into sms_log
        values (#{smsLog.pkId}, #{smsLog.phone}, #{smsLog.action}, #{smsLog.createTime})
    </insert>
</mapper>